@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4"><img src="~/imagefiles/Panel.png" style="width:10%;height:10%" />Willkommen im WebPanel!<img src="~/imagefiles/Panel.png" style="width:10%;height:10%" /></h1>
    <hr />
</div>
<head>
</head>
<body>

    <div class="text-center">
            <br />
        
        <h4>Willst du den ZSK-Umrechner nutzen?<a class="btn btn-primary" asp-action="ZSK_Umrechner">Jetzt Umrechnen!</a></h4>
        <br/>
        <h4>Willst du auf eine Grillparty?<a class="btn btn-primary" asp-action="RsvpForm">Jetzt Anmelden!</a></h4>
        <br />

    </div>
  
</body>
